<div class="container">
  <h2 class="text-center">Vehicles</h2>

  <div class="form-group">
    <label for="">Make</label>
    <ng-select (change)="onFilterChange()" [(ngModel)]="filter.makeId">
      <ng-option *ngFor="let item of makes" [value]="item.id">{{
        item.name
      }}</ng-option>
    </ng-select>
  </div>
  <div class="form-group">
    <label for="">Model</label>
    <ng-select (change)="onFilterChange()" [(ngModel)]="filter.modelId">
      <ng-option *ngFor="let item of models" [value]="item.id">{{
        item.name
      }}</ng-option>
    </ng-select>
  </div>
  <div>
    <button class="btn btn-info" (click)="resetFilter()">Reset</button>
  </div>
  <div>
    {{ vehicleList | json }}
  </div>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col" (click)="sortBy('id')">#</th> -->
        <th *ngFor="let c of columns">
          <div scope="col" *ngIf="c.isSortable" (click)="sortBy(c.key)">
            {{ c.title }}
            <i
              *ngIf="filter.sortBy === c.key"
              class="fa"
              [class.fa-sort-asc]="filter.isSortAscending"
              [class.fa-sort-desc]="!filter.isSortAscending"
            ></i>
          </div>
          <div *ngIf="!c.isSortable">
            {{ c.title }}
          </div>
        </th>

        <!-- <th scope="col" (click)="sortBy('make')">
          Make
          <i
            *ngIf="filter.sortBy === 'make'"
            class="fa fa-sort-asc"
            [class.fa-sort-asc]="filter.isSortAscending"
            [class.fa-sort-desc]="!filter.isSortAscending"
          ></i>
        </th>
        <th scope="col" (click)="sortBy('model')">Model</th>
        <th scope="col" (click)="sortBy('contactName')">ContactName</th> -->

        <!-- <th scope="col">Last Update</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vehicleList">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.make.name }}</td>
        <td>{{ item.model.name }}</td>
        <td>{{ item.contact.name }}</td>
        <!-- <td>{{ item.lastUpdate | date: "dd/MM/yyyy" }}</td> -->
        <td>
          <a [routerLink]="['update/', item.id]"> View </a>
        </td>
        <!-- <td>
          <a><button class="btn btn-danger">Delete</button></a>
        </td> -->
      </tr>
    </tbody>
  </table>

  <div>
    <pagination
      [total-items]="10"
      [page-size]="filter.pageSize"
      (page-changed)="onPageChange($event)"
    ></pagination>
  </div>
</div>
